<script src="/js/gameBackend.js"></script>
{{!-- <script src="/js/chatBackend.js"></script> --}}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        <p style="font-family: 'Press Start 2P', cursive;" class="animated bounceInRight slow">Logout</p>
      </a>
    </div>
  </div>
</nav>

<div id="gameHere">
  <div id="gameOverScreen">
    <a href="/game2"><button class="buttonColor buttonText">Play Again!</button></a>
    <a href="/game"><button class="buttonColor buttonText">Try Other Game!</button></a>
  </div>
</div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h3>High Scores:</h3>
        <ol id="example-list" class="list-group">
          {{#each game}}
          <li data-id="{{user}}" class="list-group-item">
            <div>
              <p><strong>User Name:</strong> {{user}}</p>
            </div>
            <div>
              <p><strong>Score:</strong> {{score}}</p>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>

{{!-- mini code ****************************** --}}
{{!-- <div id="div-container">

   <div id= "container-box"class="container"> -->
      <div class="row">
       <ul id="messages"></ul>
     </div>
     <div class="row">
         <div class="col-lg-6">
           <form action="">
             <div class="input-group">
                 <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Message..." aria-label="Message...">
                 <span class="input-group-btn">
                   <button class="btn btn-secondary" type="submit">Send</button>
                 </span>
               </div>
           </form>
         </div>
       </div>
   </div>
 </div> --}}

{{!-- mini code ****************************** --}}