

<script src="/js/gameFrontend.js"></script>
{{!-- <script src="/js/chatFrontend.js"></script> --}}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        <p style="font-family: 'Press Start 2P', cursive;" class="animated bounceInRight slow">Logout</p>
      </a>
    </div>
  </div>
</nav>



<div id="home">
  <div class="container mx-0">
    <div class="row my-5">
<div id="gameHere" class="col-sm-9">
  <div id="gameOverScreen" class="align-middle mt-5">
    <a href="/game1"><button class="buttonColor buttonText">Play Again!</button></a>
    <a href="/game"><button class="buttonColor buttonText">Try Other Game!</button></a>
  </div>
</div>
      <div class="col-sm-3 overflow-auto">
        <h3>High Scores:</h3>
        <ol id="example-list" class="list-group">
          {{#each game}}
          <li data-id="{{user}}" class="list-group-item">
            <div><strong>User Name: {{user}}</strong></div>
            <div>Score: {{score}}</div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>
{{!-- mini code ****************************** --}}
{{!-- <div id="div-container">

   <div id= "container-box"class="container"> -->
      <div class="row">
       <ul id="messages"></ul>
     </div>
     <div class="row">
         <div class="col-lg-6">
           <form action="">
             <div class="input-group">
                 <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Message..." aria-label="Message...">
                 <span class="input-group-btn">
                   <button class="btn btn-secondary" type="submit">Send</button>
                 </span>
               </div>
           </form>
         </div>
       </div>
   </div>
 </div> --}}
<div id="chat">
 <div id="displayChat"></div>
 <form action="">
             <div class="input-group">
                 <input id="message" autocomplete="off" type="text" class="form-control" placeholder="Message..." aria-label="Message...">
                 <span class="input-group-btn">
                   <button class="btn btn-secondary" id="send_message" type="submit">Send</button>
                 </span>
               </div>
           </form>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="/js/chat.js"></script>
  

  


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


