<script src="/js/gameFrontend.js"></script>
{{!-- <script src="/js/chatFrontend.js"></script> --}}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>

<div id="gameHere">
    <div id="gameOverScreen">
      <a href="/game1"><button>Play Game Again</button></a>
      <a href="/game"><button>Select New Game</button></a>
  </div>
</div>


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        
        <h3>High Scores:</h3>
        <ol id="example-list" class="list-group">
          {{#each game}}
          <li data-id="{{user}}" class="list-group-item">
            <div><strong>User Name: {{user}}</strong></div>
            <div>Score: {{score}}</div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
</div>
{{!-- mini code ****************************** --}}
{{!-- <div id="div-container">

   <div id= "container-box"class="container"> -->
      <div class="row">
       <ul id="messages"></ul>
     </div>
     <div class="row">
         <div class="col-lg-6">
           <form action="">
             <div class="input-group">
                 <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Message..." aria-label="Message...">
                 <span class="input-group-btn">
                   <button class="btn btn-secondary" type="submit">Send</button>
                 </span>
               </div>
           </form>
         </div>
       </div>
   </div>
 </div> --}}

 {{!-- mini code ****************************** --}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
