<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <div id="sidebar" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Retro game chatter</h1>
      <p class="lead">Select which language you'd like to excel!</p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <ul class="list-group col">
          <a href="/javascript" class="list-group-item list-group-item-action">JAVASCRIPT</a>
          <a href="/HTML" class="list-group-item">HTML</a>
          <a href="/css" class="list-group-item">CSS</a>
        </ul>
      </div>
    </div>
  </div>

 <div class="chat-box">
<div class="chat-closed"> Chat </div>
<div class="chat-header hide"><div class="box"></div>Username</div>
<div class="chat-content hide">
       
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


