<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        <p style="font-family: 'Press Start 2P', cursive;" class="animated bounceInRight slow">Logout</p>
      </a>
    </div>
  </div>
</nav>

<div>
  <h3><strong>{{msg}} {{userName}}!</strong></h3>
</div><br>
<h2 class="animated flipInX delay-1s">About the Front-End Game</h2>
<p>In this game, run, jump, and dodge your way through treacherous terrain in search of all the skills you need to build an impressive front-end for a website or app. Use your blaster to break the cages and snatch up icons for HTML, CSS, and others. You’ll be creating polished front-ends in no time!</p>
<h2 class="animated flipInX delay-2s">About the Back-End Game</h2>
<p>Now that you’ve gathered your front-end skills, it’s time to complete your full-stack journey. Continue your journey by snatching up the skills you need to configure a functioning back-end for your project. Continue to blast away cages and pick up icons for MySQL, Node.js, and all the other important back-end technologies. Full-stack developer status is almost yours!</p><br>

<a href="/game1"><button id="game1" class="userButtonColor userButtonText">Front-End Game</button></a>
<a href="/game2"><button id="game2" class="userButtonColor userButtonText">Back-End Game</button></a>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>