<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        <p style="font-family: 'Press Start 2P', cursive; color: #3d3d3d;" class="animated bounceInRight slow">Logout</p>
      </a>
    </div>
  </div>
</nav>



<div id="home">
  <div class="container">
    <div class="row">
     
        <div>
          <h3 class="text-center mt-5"><strong>{{msg}} {{userName}}!</strong></h3>
          <h4>Let me be the first to extend my condolences to you. You have hit a blocker and there is no fun in that at all. You have probably been banging your head against the 
            wall for hours, and for that I am truely sorry. BUT, have we got a distraction for you. play these short games and relive the glory of picking up all the skills you 
            need to be a web developer. Let your mind wander for a minute while you try to beat your friends high scores and if you are lucky maybe your blocker will be busted!
          </h4>
        </div><br>
        </div>
        <div class="row justify-content-around">
        {{!-- <h2 class="animated flipInX delay-1s">About the Front-End Game</h2>
        <p>In this game, run, jump, and dodge your way through treacherous terrain in search of all the skills you need
          to build an impressive front-end for a website or app. Use your blaster to break the cages and snatch up icons
          for HTML, CSS, and others. You’ll be creating polished front-ends in no time!</p>
        <a href="/game1"><button id="game1" class="userButtonColor userButtonText">Front-End Game</button></a> --}}




        <!-- Card Wider -->
        <div class="card card-cascade wider animated flipInX delay-1s col-sm-5 mb-5">
          <!-- Title --> 
            <h2 class="card-title text-center">Front-End Game</h2>
          <!-- Card image -->
          <div class="view view-cascade overlay text-center">
            <img class="card-img-top" src="/assets/frontend.gif" alt="Card image cap">
            <a href="/game1"></a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            

            <!-- Text -->
            <h4 class="card-title">In this game, run, jump, and dodge your way through treacherous terrain in search of
              all the skills you need
              to build an impressive front-end for a website or app. Use your blaster to break the cages and snatch up
              icons
              for HTML, CSS, and others. You’ll be creating polished front-ends in no time!</h4>

            <!-- button -->
            <a href="/game1"><button id="game1" class="userButtonColor userButtonText">Play Game</button></a>
            <a href="/scores1"><button class="userButtonColor userButtonText">View High Scores</button></a>

          </div>

        </div>
        <!-- Card Wider -->

        <!-- Card Wider -->
        <div class="card card-cascade wider animated flipInX delay-2s col-sm-5 mb-5">
          <!-- Title --> 
            <h2 class="card-title text-center">Back-End Game</h2>

          <!-- Card image -->
          <div class="view view-cascade overlay text-center">
            <img class="card-img-top" src="/assets/backend.gif" alt="Card image cap">
            <a href="/game1">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

  

            <!-- Text -->
            <h4 class="card-title">Now that you’ve gathered your front-end skills, it’s time to complete your full-stack
              journey. Continue your
              journey by snatching up the skills you need to configure a functioning back-end for your project. Continue
              to
              blast away cages and pick up icons for MySQL, Node.js, and all the other important back-end technologies.
              </h4>

            <!-- button -->
            <a href="/game2"><button id="game2" class="userButtonColor userButtonText">Play Game</button></a>
            <a href="/scores2"><button class="userButtonColor userButtonText">View High Scores</button></a>

          </div>

        </div>
        <br> <br> <br> 
        <!-- Card Wider -->

        {{!-- <h2 class="animated flipInX delay-2s">About the Back-End Game</h2>
        <p>Now that you’ve gathered your front-end skills, it’s time to complete your full-stack journey. Continue your
          journey by snatching up the skills you need to configure a functioning back-end for your project. Continue to
          blast away cages and pick up icons for MySQL, Node.js, and all the other important back-end technologies.
          Full-stack developer status is almost yours!</p><br>


        <a href="/game2"><button id="game2" class="userButtonColor userButtonText">Back-End Game</button></a> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>