form.signup,
form.login {
  margin-top: 50px;
}

p {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: #231F20;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: #E25B51;
}

.inputColor {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  color: #7EBDC2;
}

.btnFont {
  font-family: 'Press Start 2P', cursive;
}